# Byte-compiled / optimized / DLL files
__pycache__/
*/**/__pycache__/
*.py[cod]
*$py.class

output/*
log/*
checkpoint/*

pyrightconfig.json
data/lines_txt/*
data/tables/*
tables
.vscode
llm_demo
checkpoint
flagged
TODO
FinanceChatGLM
tcdata


# output file
output.json
local_run.sh