# Byte-compiled / optimized / DLL files
__pycache__/
*/**/__pycache__/
*.py[cod]
*$py.class

output/*
log/*
checkpoint/*

pyrightconfig.json
.vscode
checkpoint
FinanceChatGLM
tcdata

data/lines_txt/*
data/tables/*

# output file
output.json
local_run.sh