# Byte-compiled / optimized / DLL files
__pycache__/
*/**/__pycache__/
*.py[cod]
*$py.class

output/*
log/*
checkpoint/*

pyrightconfig.json
data
tables
.vscode
llm_demo
checkpoint
flagged
TODO
FinanceChatGLM
tcdata